# ===============================
# Web framework
# ===============================
fastapi==0.110.0
uvicorn==0.27.1

# ===============================
# HTTP client
# ===============================
requests==2.31.0

# ===============================
# Database
# ===============================
sqlalchemy==2.0.25
pymysql==1.1.0

# ===============================
# Env & Security
# ===============================
python-dotenv==1.0.1
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

# ===============================
# Validation (Pydantic v2)
# ===============================
pydantic==2.7.4
pydantic[email]==2.7.4
pydantic-settings==2.12.0

# ===============================
# Auth / JWT
# ===============================
python-jose[cryptography]==3.3.0

# ===============================
# File Uploads
# ===============================
python-multipart==0.0.20